button {
  font-size: 0.8rem !important;
  padding: 0.3rem 0.5rem !important;
}
button:hover {
  background: rgb(77, 73, 73);
  color: #fff !important;
}
table {
  width: 60% !important;
}
td {
  font-weight: bold;
}
